<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BlogPage</title>
	<link rel="stylesheet" href="../styles/blogpage.css">
</head>

<body>
	<header>
	
		<div class="navigation">
			<img class="logo" src="../images/logo.png" alt="ЛОГОТИП">
			<div class="burger-menu">
				<div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
			</div>

			<div class="menu-nav">
				<p class="footer-text title about">About Us</p>
				<a class="text footer-text about1" href="homepage.html" target="_blank">About</a>
				<a class="text footer-text about2" href="blogpage.html" target="_blank">What We Do</a>
				<a class="text footer-text about3" href="blogpage.html" target="_blank">Project</a>
				<a class="text footer-text about4" href="contacts.html" target="_blank">How it Work With Us</a>
				<p>

				<p class="footer-text title follow">Follow US</p>
				<a class="text footer-text follow1" href="https://en.wikipedia.org/wiki/Instagram" target="_blank">Instagram</a>
				<a class="text footer-text follow2" href="https://en.wikipedia.org/wiki/Facebook" target="_blank">Facebook</a>
				<a class="text footer-text follow3" href="https://ru.wikipedia.org/wiki/LinkedIn" target="_blank">Linkedln</a>
				<a class="text footer-text follow4" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">YouTube</a>
			</div>
		</div>


		<div class="header-container">
			<h1 class="header-title">Blog Afrianska</h1>
			<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nunc erat, vehicula ut ante sed, sagittis iaculis enim. Vestibulum ultricies risus orci. Lorem ipsum dolor sit amet.</p>
		</div>

	</header>

	<main>
		<div class="search-place">
			<label  for="text"><img class="lupa" src="../images/lupa.png"></label>
			<input class="search-field" type="text" id="text" placeholder="Search Article">
		</div>

		<p class="article-main-title">POPULAR</p>

		<div class="article-main-container">

			<article class="article-card-popular1">
				<img class="article-image" src="../images/1.png">
				<p class="article-title">Massa eu in laoreet enim augue vulputate nunc.</p> 
				<p class="article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lectus quisque magna in nisl nibh bibendum ipsum, elit duis. Donec.</p>
				<p class="article-author">Samatha Leuthex</p>
				<img class="article-bookmark" src="../images/bookmark.png">
				<img class="article-share" src="../images/share.png">
				<p class="article-publishing">May 5, 3 min read</p>
			</article>

			<article class="article-card-popular2">
				<img class="article-image" src="../images/2.png">
				<p class="article-title">Massa eu in laoreet enim augue vulputate nunc.</p> 
				<p class="article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lectus quisque magna in nisl nibh bibendum ipsum, elit duis. Donec.</p>
				<p class="article-author">Samatha Leuthex</p>
				<img class="article-bookmark" src="../images/bookmark.png">
				<img class="article-share" src="../images/share.png">
				<p class="article-publishing">May 5, 3 min read</p>
			</article>

			<article class="article-card-popular3">
				<img class="article-image" src="../images/3.png">
				<p class="article-title">Massa eu in laoreet enim augue vulputate nunc.</p> 
				<p class="article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lectus quisque magna in nisl nibh bibendum ipsum, elit duis. Donec.</p>
				<p class="article-author">Samatha Leuthex</p>
				<img class="article-bookmark" src="../images/bookmark.png">
				<img class="article-share" src="../images/share.png">
				<p class="article-publishing">May 5, 3 min read</p>
			</article>

			<article class="article-card-popular4">
				<img class="article-image" src="../images/4.png">
				<p class="article-title">Massa eu in laoreet enim augue vulputate nunc.</p> 
				<p class="article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lectus quisque magna in nisl nibh bibendum ipsum, elit duis. Donec.</p>
				<p class="article-author">Samatha Leuthex</p>
				<img class="article-bookmark" src="../images/bookmark.png">
				<img class="article-share" src="../images/share.png">
				<p class="article-publishing">May 5, 3 min read</p>
			</article>
		</div>

		<p class="article-main-title-bottom">SEE ALL POPULAR ARTICLE</p>

		<div class="grey-line"></div>

		<p class="article-main-title">ALL ARTICLE</p>

		<div class="article-main-container2">
			<article class="article-card">
				<img class="article-image" src="../images/5.png">
				<p class="article-title">Massa eu in laoreet enim augue vulputat</p> 
				<p class="article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lectus quisque magna in nisl nibh bibendum ipsum, elit duis. Donec.</p>
				<p class="article-author">Samatha Leuthex</p>
				<img class="article-bookmark" src="../images/bookmark.png">
				<img class="article-share" src="../images/share.png">
				<p class="article-publishing">May 5, 3 min read</p>
			</article>

			<article class="article-card">
				<img class="article-image" src="../images/6.png">
				<p class="article-title">Feugiat a euismod arcu feugiat posuere morbi.</p> 
				<p class="article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lectus quisque magna in nisl nibh bibendum ipsum, elit duis. Donec.</p>
				<p class="article-author">Samatha Leuthex</p>
				<img class="article-bookmark" src="../images/bookmark.png">
				<img class="article-share" src="../images/share.png">
				<p class="article-publishing">May 5, 3 min read</p>
			</article>

			<article class="article-card">
				<img class="article-image" src="../images/7.png">
				<p class="article-title">Sociis purus pellentesque faucibus.</p> 
				<p class="article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lectus quisque magna in nisl nibh bibendum ipsum, elit duis. Donec.</p>
				<p class="article-author">Samatha Leuthex</p>
				<img class="article-bookmark" src="../images/bookmark.png">
				<img class="article-share" src="../images/share.png">
				<p class="article-publishing">May 5, 3 min read</p>
			</article>

			<article class="article-card">
				<img class="article-image" src="../images/8.png">
				<p class="article-title">Cursus feugiat mi pellentesque mauris sed eu.</p> 
				<p class="article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lectus quisque magna in nisl nibh bibendum ipsum, elit duis. Donec.</p>
				<p class="article-author">Samatha Leuthex</p>
				<p class="article-publishing">May 5, 3 min read</p>
				<img class="article-bookmark" src="../images/bookmark.png">
				<img class="article-share" src="../images/share.png">
			</article>

			<article class="article-card">
				<img class="article-image" src="../images/9.png">
				<p class="article-title">A morbi arcu curabitur etiam fringilla augue.</p> 
				<p class="article-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lectus quisque magna in nisl nibh bibendum ipsum, elit duis. Donec.</p>
				<p class="article-author">Samatha Leuthex</p>
				<img class="article-bookmark" src="../images/bookmark.png">
				<img class="article-share" src="../images/share.png">
				<p class="article-publishing">May 5, 3 min read</p>
			</article>
		</div>

		<div class="posts">
				<p class="new-post"><img class="arrow-left" src="../images/left.png">New Post</p>
				<p class="old-post">Old Post<img class="arrow-right" src="../images/right.png"></p>
			</div>
		
	</main>

	<footer>
		<div class="footer-container1">
			<h3 class="title3 workteam">Interested to work with our team?</h3>
			<p class="text workteam">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac orci lacinia, mollis justo eget, vehicula odio. Phasellus turpis lectus, euismod a eleifend eu, iaculis vel sapien.</p>
			<a href="contacts.html" target="_blank"><button class="talk-button">Let's talk</button></a>
		</div>

		<div class="white-line"></div>

		<div class="footer-container2">
			<p class="footer-text logo-title"><img src="../images/logo2.png" alt="Лого компании">&nbsp;Afrianska</p>

			<p class="text footer-text contacts">A. &nbsp; Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
			<p class="text footer-text contacts">Т. &nbsp; +62-812-7313-4321</p>
			<p class="text footer-text contacts">E. &nbsp; hello.afrian@gmail.com</p>

			<p class="footer-text title about">About Us</p>
			<a class="text footer-text about1" href="blogpage.html" target="_blank">About</a>
			<a class="text footer-text about2" href="blogpage.html" target="_blank">What We Do</a>
			<a class="text footer-text about3" href="blogpage.html" target="_blank">Project</a>
			<a class="text footer-text about4" href="blogpage.html" target="_blank">How it Work With Us</a>

			<p class="footer-text title follow">Follow US</p>
			<a class="text footer-text follow1" href="https://en.wikipedia.org/wiki/Instagram">Instagram</a>
			<a class="text footer-text follow2" href="https://en.wikipedia.org/wiki/Facebook">Facebook</a>
			<a class="text footer-text follow3" href="https://ru.wikipedia.org/wiki/LinkedIn">Linkedln</a>
			<a class="text footer-text follow4" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">YouTube</a>
		</div>

		<p class="text footer-text copyright">2019 © Afrianska. All rights reserved.</p>

	</footer>
	<script src='../scripts/scripts.js'></script>
</body>

</html>