<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Afrianska</title>
	<link rel="stylesheet" href="../styles/homepage.css">
</head>

<body>
	<header>

		<div class="navigation">
			<img class="logo" src="../images/logo.png" alt="ЛОГОТИП">
			<div class="burger-menu">
				<div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
			</div>

			<div class="menu-nav">
				<p class="footer-text title about">About Us</p>
				<a class="text footer-text about1" href="homepage.html" target="_blank">About</a>
				<a class="text footer-text about2" href="blogpage.html" target="_blank">What We Do</a>
				<a class="text footer-text about3" href="blogpage.html" target="_blank">Project</a>
				<a class="text footer-text about4" href="contacts.html" target="_blank">How it Work With Us</a>
				<p>

				<p class="footer-text title follow">Follow US</p>
				<a class="text footer-text follow1" href="https://en.wikipedia.org/wiki/Instagram" target="_blank">Instagram</a>
				<a class="text footer-text follow2" href="https://en.wikipedia.org/wiki/Facebook" target="_blank">Facebook</a>
				<a class="text footer-text follow3" href="https://ru.wikipedia.org/wiki/LinkedIn" target="_blank">Linkedln</a>
				<a class="text footer-text follow4" href="https://www.youtube.com/watch?v=tVEzed4HPSE&list=PL0sm2CxWDkuuQCvilAHEdsHJq7z8xLVRc" target="_blank">YouTube</a>
			</div>
		</div>

		<div class="header-container">
			<h1 class="header-title">New Automation Tool for Your Home</h1>
			<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac orci lacinia, mollis justo eget, vehicula odio. Phasellus turpis lectus, euismod a eleifend eu, iaculis vel sapien.</p>


			
			<a href="blogpage.html" target="_blank"><button class="button-projects">See Our Projects</button></a>


		</div>
		
		<img class="header-illustration" src="../images/illustration.png">
	
	</header>

	<main>

			<div class="main-container-cards1">

				<h2 class="main-title">What we do to help our client grow in digital era?</h2>

				<div class="cards card1">
					<img class="card-image" src="../images/card1.png" alt="Фото к карточке">
					<h3 class="card-title">Bring Technology To Your Comfrotable Home</h3>
					<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac orci lacinia, mollis justo eget, vehicula odio. Phasellus turpis lectus</p>
					<a class="learn-more" href="blogpage.html" target="_blank">Learn more<img class="arrow" src="../images/right.png"></a>
				</div>
			</div>

			<div class="main-container-cards2">
			
				<div class="cards card2">
					<img class="card-image" src="../images/card2.png" alt="Фото к карточке">
					<h3 class="card-title">Make Your business To Be Better Famous In Internet</h3>
					<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac orci lacinia, mollis justo eget, vehicula odio. Phasellus turpis lectus</p>
					<a class="learn-more" href="blogpage.html" target="_blank">Learn more<img class="arrow" src="../images/right.png"></a>
				</div>


				<div class="cards card3">
					<img class="card-image" src="../images/card3.png" alt="Фото к карточке">
					<h3 class="card-title">Build Your Digital Product That Suitable For Your Need</h3>
					<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac orci lacinia, mollis justo eget, vehicula odio. Phasellus turpis lectus</p>
					<a class="learn-more" href="blogpage.html" target="_blank">Learn more<img class="arrow" src="../images/right.png"></a>
				</div>

			</div>



		<div class="our-finished-projects">
			<h3 class="finished-projects-title">Our Finished Projects</h3>
			<p class="text projects">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac orci lacinia, mollis justo eget, vehicula odio. Phasellus turpis lectus, euismod a eleifend eu, iaculis vel sapien.</p>
		</div>

		<div class="finished-projects1">
			<div class="block1">
				<h4 class="blocks-title">Smart Home Installation</h4>
				<p class="text block">In Muarakana Housing Estate</p>
			</div>
		</div>
		
		<div class="finished-projects2">
			<div class="block2">
				<h4 class="blocks-title">Sparklite App</h4>
				<p class="text block">Marketplace</p>
			</div>

			<div class="block3">
				<h4 class="blocks-title">Car-Rapetition App</h4>
				<p class="text block">Board</p>
			</div>
		</div>

	</main> 

	<div class="blue">
	<div class="container-clients">
			<h3 class="clients-title">Our Beloved Client</h3>
			<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac orci lacinia, mollis justo eget, vehicula odio. Phasellus turpis lectus, euismod a eleifend eu, iaculis vel sapien.</p>
		</div>


		<table class="clients-table-logo">
			<thead>
				<tr>
					<th class="logo-client">LOGO CLIENT 1</th>
					<th class="logo-client">LOGO CLIENT 2</th>
					<th class="logo-client">LOGO CLIENT 3</th>
					<th class="logo-client">LOGO CLIENT 4</th>
				</tr>
				<tr>
					<th class="logo-client">LOGO CLIENT 5</th>
					<th class="logo-client">LOGO CLIENT 6</th>
					<th class="logo-client">LOGO CLIENT 7</th>
					<th class="logo-client more"><a>More Client</a></th>
				</tr>				
			</thead>
		</table>

		
	<footer>
		<div class="footer-container1">
			<h3 class="title3 workteam">Interested to work with our team?</h3>
			<p class="text workteam">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac orci lacinia, mollis justo eget, vehicula odio. Phasellus turpis lectus, euismod a eleifend eu, iaculis vel sapien.</p>
			<a href="contacts.html" target="_blank"><button class="talk-button">Let's talk</button></a>
		</div>

		<div class="white-line"></div>

		<div class="footer-container2">
			<p class="footer-text logo-title"><img src="../images/logo2.png" alt="Лого компании">&nbsp;Afrianska</p>

			<p class="text footer-text contacts">A. &nbsp; Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
			<p class="text footer-text contacts">Т. &nbsp; +62-812-7313-4321</p>
			<p class="text footer-text contacts">E. &nbsp; hello.afrian@gmail.com</p>

			<p class="footer-text title about">About Us</p>
			<a class="text footer-text about1" href="homepage.html" target="_blank">About</a>
			<a class="text footer-text about2" href="blogpage.html" target="_blank">What We Do</a>
			<a class="text footer-text about3" href="blogpage.html" target="_blank">Project</a>
			<a class="text footer-text about4" href="contacts.html" target="_blank">How it Work With Us</a>

			<p class="footer-text title follow">Follow US</p>
			<a class="text footer-text follow1" href="https://en.wikipedia.org/wiki/Instagram">Instagram</a>
			<a class="text footer-text follow2" href="https://en.wikipedia.org/wiki/Facebook">Facebook</a>
			<a class="text footer-text follow3" href="https://ru.wikipedia.org/wiki/LinkedIn">Linkedln</a>
			<a class="text footer-text follow4" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">YouTube</a>
		</div>

		<p class="text footer-text copyright">2019 © Afrianska. All rights reserved.</p>

	</footer>

	<div class="blue"></div>


<script src='../scripts/scripts.js'></script>

</body>




</html>