
@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Gilroy-Regular.woff2") format("woff2"),
	url("../fonts/Gilroy-Regular.woff") format("woff");
}


@font-face {
	font-family: "Galien";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Galien-Regular.woff2") format("woff2"),
	url("../fonts/Galien-Regular.woff") format("woff");
}


body {
	font-family: "Gilroy", "Arial", sans-serif;
}